{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
  {{category.description | truncatewords:155 }}
{% else %}
  Welcome to E-shoppy
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
  {{category.name}}-E-shppy
{% else %}
  See our new collection- E-shoppy
{% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
  <div class="row my_row_class">
    <div class="mx-auto">
    <P><a href="% url 'ecommerceapp':allProdCat'%}">Our Product Collection</a></P>
    </div>
    </div>

</div>
{% endif %}
<div class="mx-auto" >
  {% if category %}
  <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">

</div>
<br>
<div>
  <h1 class="text-center my_title">{{category.name}}</h1>
  <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
  <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products"  width="1290px" height="100px">
</div>
<br>
<div>
  <h1 class="text-center my_title">Our Product Collections</h1>
  <p class="text-justify">The Best Quotes About Life If you look at what you don't have in life, you'll never have enough.” “You only live once, but if you do it right, once is enough.” </p>
</div>
{% endif %}
<div class="container">
  <div class="row mx-auto">
    {% for product in products.object_list %}
    <div class="my-bottom-margin col-9 col-sm-12 col-md-4 col-lg-4 mt-4">
      <div class="card text-center" style="width:18rem; height:100%">
        <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
        <div class="card-body">
          <h4>{{product.name}}</h4>
          <p>{{product.price}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
    <hr>
    <div class="text-center">
      {% for pg in products.paginator.page_range %}
        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
      {% endfor %}

    </div>
    {% endif %}


  </div>
  <br>
</div>
{% endblock %}

